<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hekkelman.keylocker"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".KeyLockerApp"
        android:allowBackup="true"
        android:backupAgent=".utilities.BackupAgent"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".activities.UnlockActivity"
            android:parentActivityName=".activities.MainActivity"
            android:label="@string/title_activity_unlock"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activities.InitActivity"
            android:label="@string/title_activity_init"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activities.KeyDetailActivity"
            android:label="@string/title_activity_key_detail"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hekkelman.keylocker.activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.NoteDetailActivity"
            android:label="@string/title_activity_note_detail"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hekkelman.keylocker.activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings_activity_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hekkelman.keylocker.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ChangeMainPasswordActivity"
            android:label="@string/title_activity_change_main_password"
            android:parentActivityName=".activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hekkelman.keylocker.activities.SettingsActivity" />

            <intent-filter>
                <action android:name="com.hekkelman.keylocker.ChangeMainPasswordActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>